{{!-- Final slide --}}
<section class="section-title" data-background="#1E2944" data-transition="{{ theme.specialTransition }}">
	{{> sort-logo }}
	{{> lds-logo }}
	<p><small>&copy; 2014 by Intellectual Reserve, Inc. All rights reserved</small></p>
</section>
